* {
  color: rgb(13, 1, 24);
  font-family: League spertan;
}
h1 {
  color: rgb(255, 0, 0);
  font: size 80px;
}
p {
  color: rgb(0, 0, 0);
  font-weight: 500;
}
h3 {
  color: rgb(248, 15, 244);
}
#login {
  background-color: deepskyblue;
  color: rgb(55, 255, 0);
}
#signup {
  background-color: blanchedalmond;
  color: cornflowerblue;
}
.upvote {
  background-color: green;
  color: aliceblue;
}
.answer {
  background-color: rgb(255, 51, 0);
  color: rgb(213, 195, 77);
}
/* descending selector */
p a {
  color: rgb(246, 64, 64);
}
.nav a {
  color: rgb(98, 58, 230);
}
/* adjacent sibling combinator */
p + h3 {
  text-decoration-line: underline;
  /* background-color: aqua; */
  color: blue;
}
/* child combinator */
div > input {
  background-color: gold;
}
h1::first-letter {
  color: rgb(20, 165, 255);
}
div > p::first-line {
  color: rgb(185, 138, 20);
  font-family: arial narrow;
  background-color: rgb(233, 240, 30);
}
p::selection {
  color: rgb(104, 113, 6);
}
div > p::first-letter {
  color: rgb(253, 24, 24);
  font-style: italic;
  font-size: xx-large;
  background-color: chartreuse;
}
div > P {
  color: black;
  font-weight: 900;
  font-family: roboto;
  text-align: justify;
}
