* {
  color: rgb(13, 1, 24);
  font-family: League spertan;
}
h1 {
  color: rgb(255, 0, 0);
}
p {
  color: rgb(60, 0, 255);
}
h3 {
  color: rgb(248, 15, 244);
}
#login {
  background-color: deepskyblue;
  color: rgb(55, 255, 0);
}
#signup {
  background-color: blanchedalmond;
  color: cornflowerblue;
}
.upvote {
  background-color: green;
  color: aliceblue;
}
.answer {
  background-color: rgb(255, 51, 0);
  color: rgb(213, 195, 77);
}
/* descending selector */
p a {
  color: rgb(246, 64, 64);
}
.nav a {
  color: rgb(98, 58, 230);
}
/* adjacent sibling combinator */
p + h3 {
  text-decoration-line: underline;
  background-color: aqua;
  color: blue;
}
/* child combinator
div > input {
  background-color: gold;
} */
